<template>

  <div>
    <TopNavigationBar/>


    <div class="container">

      <div class="row justify-content-center">

        <div class="col-6">

          <div class="alert alert-primary">

            <div class="row">

              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Date of invoice</label>
                  <DateField v-model="invoice.date_of_invoice"/>
                </div>

              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Invoice No.</label>
                  <input type="text" class="form-control" v-model.trim="invoice.invoice_number">
                </div>
              </div>

            </div><!-- row -->

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <textarea rows="3" class="form-control" v-model.trim="invoice.description"></textarea>
                </div>

              </div>
            </div><!-- row -->

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">No. of Bags</label>
                  <input type="number" class="form-control text-end" v-model.number="invoice.number_of_bags">
                </div>

              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Unit weight (kg)</label>
                  <input type="number" class="form-control text-end" v-model.number="invoice.unit_weight">
                </div>
              </div>
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Total Weight (kg)</label>
                  <input type="number" class="form-control text-end" :value="totalWeight" disabled>
                </div>

              </div>
            </div><!-- row -->

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Unit Price</label>
                  <input type="number" class="form-control text-end" v-model.number="invoice.unit_price">
                </div>

              </div>
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Amount</label>
                  <input type="text" class="form-control text-end" :value="amount" disabled>
                </div>

              </div>
            </div><!-- row -->

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Discount</label>
                  <input type="number" class="form-control text-end" v-model.number="invoice.discount">
                </div>

              </div>
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Net Amount</label>
                  <input type="text" class="form-control text-end" :value="netAmount" disabled>
                </div>

              </div>
            </div><!-- row -->

            <div class="text-center my-3">
              <button class="btn btn-primary" :disabled="!isValidated" @click="onSave()">Add</button>
              <router-link :to="'/fertilizers/edit/' + id" class="btn btn-secondary">Cancel</router-link>
            </div>

            <div v-if="!isValidated" class="alert alert-danger mb-3">
              <ul>
                <li v-for="item in validationMessage">{{ item }}</li>
              </ul>
            </div>

            <div v-if="errorMessage" class="alert alert-danger mb-3">
              {{ errorMessage }}
            </div>

          </div><!-- alert -->

        </div><!-- col -->

      </div><!-- row -->

    </div><!-- container -->

  </div>

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";
import DateField from "../../components/fields/DateField";
import moment from "moment";

export default {
  name: "AddFertInvoice",
  components: { DateField, TopNavigationBar },

  data() {
    return {

      invoice: {
        date_of_invoice: moment().format( "YYYY-MM-DD" ),
        invoice_number: "",
        description: "",
        number_of_bags: 0,
        unit_weight: 0,
        // total_weight: 0,
        unit_price: 0,
        // amount: 0,
        discount: 0,
        // net_amount: 0,
        fert_id: this.$route.params.id
      },

      validationMessage: [],
      isValidated: true,

      errorMessage: "",

    }
  },

  computed: {


    id() {
      return this.$route.params.id;
    },

    amount() {
      return ( this.invoice.unit_price * this.invoice.number_of_bags ).toFixed( 2 );
    },

    netAmount() {
      return ( this.amount - this.invoice.discount ).toFixed( 2 );
    },

    validated() {

      this.validationMessage = [];
      this.isValidated = true;


      if ( this.invoice.invoice_number === "" ) {
        this.validationMessage.push( "Invoice number is required." );
        this.isValidated = false;
      }

      if ( this.invoice.number_of_bags === 0 || this.invoice.number_of_bags === "" ) {
        this.validationMessage.push( "Number of bags cannot be 0." )
        this.isValidated = false;
      }

      if ( this.invoice.unit_price === 0 || this.invoice.unit_price === "" ) {
        this.validationMessage.push( "Unit price cannot be 0." )
        this.isValidated = false;
      }

      if ( this.invoice.total_weight === 0 || this.invoice.total_weight === "" ) {
        this.validationMessage.push( "Total weight cannot be 0." )
        this.isValidated = false;
      }

    }, /* validated */


    totalWeight() {
      return this.invoice.unit_weight * this.invoice.number_of_bags;
    }

  },

  mounted() {
    //
  },

  methods: {

    async onSave() {

      try {

        const params = {
          date_of_invoice: this.invoice.date_of_invoice,
          invoice_number: this.invoice.invoice_number,
          description: this.invoice.description,
          number_of_bags: this.invoice.number_of_bags,
          total_weight: this.totalWeight,
          unit_price: this.invoice.unit_price,
          amount: this.amount,
          discount: this.invoice.discount,
          net_amount: this.netAmount,
          fert_id: this.invoice.fert_id,
        };

        await this.$store.dispatch( "fertInvoices_create", params );

        await this.$router.push( "/fertilizers/edit/" + this.id );

      } catch ( e ) {
        this.errorMessage = "Failed to save invoice";
      }

    }, /* on save */

  },

}
</script>

<style scoped>

</style>
