<template>

  <div>
    <TopNavigationBar/>

    <div class="container" v-if="selectedFertilizer">
      <div class="row justify-content-center">

        <div class="col-6">


          <div class="mb-3" v-show="! showEditForm">

            <h2 class="text-center"> {{ selectedFertilizer.fert_name }} ({{ selectedFertilizer.code }}) </h2>
            <p class="lead text-center">Market price at {{ selectedFertilizer.market_price | money }}</p>
            <hr>

            <div class="text-center">
              <button class="btn btn-sm btn-success" @click="showEditForm = true">Edit</button>
              <router-link to="/fertilizers" class="btn btn-sm btn-secondary">Back</router-link>
            </div>

          </div>

          <!-- edit fert -->
          <div class="alert alert-warning" v-show="showEditForm">
            <h3 class="">Edit {{ selectedFertilizer.fert_name }}</h3>
            <hr>

            <div class="row g-2">
              <div class="col-2">
                <div class="mb-3">
                  <label class="form-label">Code</label>
                  <input type="text" class="form-control" v-model.trim="selectedFertilizer.code">
                </div>
              </div><!-- col -->

              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Fertilizer Name</label>
                  <input type="text" class="form-control" v-model.trim="selectedFertilizer.fert_name">
                </div>
              </div><!-- col -->

              <div class="col-4">
                <div class="mb-3">
                  <label class="form-label">Market Price</label>
                  <input type="number" class="form-control" v-model.number="selectedFertilizer.market_price">
                </div>
              </div><!-- col -->
            </div><!-- row -->

            <div class="text-center">

              <button class="btn btn-success" @click="onUpdate()" :disabled="!isFormValid">Update</button>
              <button class="btn btn-secondary" @click="showEditForm = false">Cancel</button>

              <button class="btn btn-danger" @click="showDeleteConfirm = !showDeleteConfirm">Delete</button>

            </div>

          </div><!-- alert -->


          <div class="card text-white bg-danger" v-if="showDeleteConfirm">
            <div class="card-header">Delete</div>
            <div class="card-body text-center">
              <div class="mb-3">Confirm delete {{ selectedFertilizer.fert_name }} ?</div>
              <button class="btn btn-success btn-sm" @click="onDelete()">Delete</button>
              <button class="btn btn-secondary btn-sm" @click="showDeleteConfirm = false">Cancel</button>
            </div>
          </div>


        </div><!-- col -->

      </div><!-- row -->


      <!-- Section: Invoice table -->
      <div class="row">

        <div class="col">

          <div class="alert alert-secondary">

            <h3>Invoices in {{ selectedFertilizer.fert_name }} |
              <router-link :to="'/fertilizers/edit/' + selectedFertilizer.id + '/add-invoice'">Add new invoice</router-link>
            </h3>
            <hr>

            <div class="my-3 fw-bold" id="fert-meta">
              Total purchased {{ selectedFertilizer.fert_name }} = {{ selectedFertilizer.total_weight | weight }}
            </div>

            <table class="table table-bordered table-sm border-dark">
              <thead>
              <tr>
                <th>Date</th>
                <th>Invoice No.</th>
                <th>Description</th>
                <th class="text-end">No. of Bags</th>
                <th class="text-end">Total weight</th>
                <th class="text-end">Unit Price</th>
                <th class="text-end">Amount</th>
                <th class="text-end">Discount</th>
                <th class="text-end">Net Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in fertInvoiceList" :key="item.id">
                <td>{{ item.date_of_invoice }}</td>
                <td>{{ item.invoice_number }}</td>
                <td>{{ item.description }}</td>
                <td class="text-end">{{ item.number_of_bags }}</td>
                <td class="text-end">{{ item.total_weight | weight }}</td>
                <td class="text-end">{{ item.unit_price | money }}</td>
                <td class="text-end">{{ item.amount | money }}</td>
                <td class="text-end">{{ item.discount | money }}</td>
                <td class="text-end">{{ item.net_amount | money }}</td>
              </tr>
              </tbody>
            </table>

            <div class="my-3  text-end fw-bold">
              Total net amount = {{ totalNetAmount | money }}
            </div>

          </div>

        </div>

      </div>

    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";
import {errorDialog} from "../../assets/libs/bootloks";

const _ = require( "lodash" );

export default {
  name: "EditFertilizer",
  components: { TopNavigationBar },

  data() {
    return {

      showEditForm: false,
      showDeleteConfirm: false,

    }
  },
  /* -- data -- */

  computed: {

    selectedFertilizer() {
      return this.$store.getters.getFertilizer;
    },

    isFormValid() {
      return !_.isEmpty( this.selectedFertilizer.fert_name ) && !_.isEmpty( this.selectedFertilizer.code );
    },

    fertInvoiceList() {
      return this.$store.getters.getFertInvoiceList;
    },

    totalNetAmount() {
      let total = 0;
      if ( this.fertInvoiceList != null ) {

        this.fertInvoiceList.forEach( item => {
          total += item.net_amount;
        } );

      }
      return total;
    }

  },
  /* -- computed -- */


  async mounted() {

    try {

      const id = this.$route.params.id;

      await this.$store.dispatch( "fertilizers_fetch", id );

      await this.$store.dispatch( "fertInvoices_fetchAll", id );

    } catch ( e ) {
      errorDialog( { message: "Failed to load fertilizer data" } );
      await this.$router.push( "/fertilizers" );
    }

  },
  /* -- mounted -- */


  filters: {
    money( value ) {

      if ( _.isNumber( value ) )
        return "LKR " + value.toFixed( 2 );
      return value;
    },

    weight( value ) {
      return value + " kg";
    }
  },
  /* -- filters -- */

  methods: {

    async onUpdate() {

      try {

        const params = {
          id: this.selectedFertilizer.id,
          fert_name: this.selectedFertilizer.fert_name,
          code: this.selectedFertilizer.code,
          market_price: this.selectedFertilizer.market_price,
        };

        await this.$store.dispatch( "fertilizers_update", params );
        this.showEditForm = false;
      } catch ( e ) {
        errorDialog( { message: "Failed to load update" } );
      }

    },

    async onDelete() {

      const params = {
        id: this.selectedFertilizer.id
      };

      try {
        await this.$store.dispatch( "fertilizers_delete", params );
        await this.$router.push( "/fertilizers" );
      } catch ( e ) {
        errorDialog( { message: "Failed to delete" } );
      }
    }

  },

}
</script>

<style scoped>

</style>
