<template>

  <div>
    <TopNavigationBar/>


    <div class="container">


      <div class="row justify-content-center">
        <div class="col-12 col-md-6">

          <div class="alert alert-warning">
            <h3 class="">Add new fertilizer</h3>
            <hr>

            <div class="row g-2">

              <div class="col-2">
                <div class="mb-3">
                  <label class="form-label">Code</label>
                  <input type="text" class="form-control" v-model.trim="fertToAdd.code">
                </div>
              </div><!-- col -->

              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Fertilizer Name</label>
                  <input type="text" class="form-control" v-model.trim="fertToAdd.fert_name">
                </div>
              </div><!-- col -->

              <div class="col-4">
                <div class="mb-3">
                  <label class="form-label">Market Price</label>
                  <input type="number" class="form-control" v-model.number="fertToAdd.market_price">
                </div>
              </div><!-- col -->


            </div>

            <div class="text-center">
              <button class="btn btn-success" @click="onAdd()" :disabled="!isAddFormValid">Add</button>
            </div>

          </div><!-- alert -->

        </div><!-- col -->
      </div>

      <div class="row justify-content-center">

        <div class="col-12">

          <div class="alert alert-warning">

            <h3>Available fertilizers</h3>
            <hr>

            <table class="table table-hover table-bordered table-secondary" v-if="fertilizers">
              <thead>
              <tr>
                <th style="width: 100px">Code</th>
                <th>Name</th>
                <th>Total weight</th>
                <th>Current market price</th>
                <th style="width: 20px"></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in fertilizers">
                <td>{{ item.code }}</td>
                <td>{{ item.fert_name }}</td>
                <td>{{ item.total_weight | weight }}</td>
                <td>{{ item.market_price | money }}</td>
                <td>
                  <router-link :to="'/fertilizers/edit/' + item.id" class="btn btn-warning btn-sm">Edit</router-link>
                </td>
              </tr>
              </tbody>
            </table>


          </div>

        </div><!-- col -->

      </div><!-- row -->

    </div>


  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

const _ = require( "lodash" );

export default {
  name: "ManageFertilizers",
  components: { TopNavigationBar },

  data() {
    return {

      fertToAdd: {
        fert_name: "",
        code: "",
        market_price: 0
      }

    }
  },
  /* -- data -- */


  computed: {

    fertilizers() {
      return this.$store.getters.getFertilizers;
    },

    isAddFormValid() {
      return !_.isEmpty( this.fertToAdd.fert_name ) && !_.isEmpty( this.fertToAdd.code );
    }

  },
  /* -- computed -- */


  filters: {
    money( value ) {
      return "LKR " + value.toFixed( 2 );
    },
    weight( value ) {
      return value + " kg";
    }
  },
  /* -- filters -- */


  async mounted() {

    try {
      await this.$store.dispatch( "fertilizers_fetchAll" );
    } catch ( e ) {
      alert( "failed to load fertilizers data" );
    }

  },
  /* -- mounted -- */


  methods: {

    async onAdd() {

      try {

        const params = {
          fert_name: this.fertToAdd.fert_name,
          code: this.fertToAdd.code,
          market_price: this.fertToAdd.market_price
        };

        await this.$store.dispatch( "fertilizers_create", params );

      } catch ( e ) {
        alert( "Failed to add new fertilizer" );
      }

      /* fetch all ferts again */

      try {
        await this.$store.dispatch( "fertilizers_fetchAll" );
      } catch ( e ) {
        alert( "failed to load fertilizers data" );
      }

    }, /* onAdd */

  },

}
</script>

<style scoped>

</style>
