/* custom universal scss */

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700&display=swap');



$font-family-sans-serif: 'Ruda', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-base: 0.85rem !default;


$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.8 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.2 !default;
$h5-font-size: $font-size-base * 1.0 !default;
$h6-font-size: $font-size-base !default;

@import "~bootstrap/scss/bootstrap";


body {
  background-color: azure;
}


.card-header {
  font-weight: bold;
  text-transform: uppercase;
}


.btn {
  text-transform: uppercase;
}

hr {
  margin: 0.5rem 0;
}

