<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-12 col-md-4">

          <div class="card">
            <div class="card-header">Farmers</div>
            <div class="card-body">
              <div class="d-grid gap-2">
                <router-link to="/farmers" class="btn btn-primary btn-sm">Manage farmers</router-link>
                <router-link to="/farmers/add" class="btn btn-primary btn-sm">Add new farmer</router-link>
              </div>
            </div>
          </div>

        </div><!-- col -->

        <div class="col-12 col-md-4">

          <div class="card">
            <div class="card-header">Fertilizers</div>
            <div class="card-body">
              <div class="d-grid gap-2">
                <router-link to="/fertilizers" class="btn btn-primary btn-sm">Manage fertilizers</router-link>
              </div>
            </div>
          </div>

        </div><!-- col -->

        <div class="col-12 col-md-4">

          <div class="card">
            <div class="card-header">Seeds distribution</div>
            <div class="card-body">
              <div class="d-grid gap-2">
                <router-link to="/fertilizers" class="btn btn-primary btn-sm">View all distributions</router-link>
                <router-link to="/fertilizers/add" class="btn btn-primary btn-sm">Add new</router-link>
              </div>
            </div>
          </div>

        </div><!-- col -->

      </div><!-- row -->
    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";


export default {
  name: "Home",
  components: {TopNavigationBar},

  mounted() {


  },

}
</script>

<style scoped>

</style>
