<template>

  <div>

    <h4 class="text-center">Add a land</h4>
    <hr>

    <div id="form-create-land">

      <div class="mb-3">
        <label for="text-reg_number" class="form-label">Reg number</label>
        <input type="text" id="text-reg_number" class="form-control" v-model="land.reg_number">
      </div>


      <div class="row">

        <div class="col">

          <div class="mb-3">
            <label for="text-continent_name" class="form-label">Continent</label>
            <input type="text" id="text-continent_name" class="form-control" v-model="land.continent_name">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label for="text-land_size" class="form-label">Land size (Acre)</label>
            <input type="text" id="text-land_size" class="form-control" v-model="land.land_size">
          </div>

        </div>

      </div>


      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label for="text-lat" class="form-label">Latitude</label>
            <input type="text" id="text-lat" class="form-control" v-model="land.lat">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label for="text-lng" class="form-label">Longitude</label>
            <input type="text" id="text-lng" class="form-control" v-model="land.lng">
          </div>

        </div>

        <div class="text-center">

          <button class="btn btn-primary" @click="onAdd()">Add</button>

        </div>

      </div><!-- form -->

    </div>

  </div>

</template>

<script>
export default {
  name: "CreateLand",

  props: {
    farmerId: Number,
  },

  data() {
    return {
      land: {
        reg_number: "",
        continent_name: "",
        land_size: "",
        lat: "",
        lng: "",
      }
    }
  },

  computed: {
    //
  },

  mounted() {
    //
  },

  methods: {

    async onAdd() {

      try {

        const params = {
          farmer_id: this.farmerId,
          reg_number: this.land.reg_number,
          continent_name: this.land.continent_name,
          land_size: this.land.land_size,
          lat: this.land.lat,
          lng: this.land.lng,
        };

        await this.$store.dispatch("lands_create", params);

        this.land.reg_number = "";
        this.land.continent_name = "";
        this.land.land_size = "";
        this.land.lat = "";
        this.land.lng = "";

        await this.$store.dispatch("lands_fetchByFarmer", this.farmerId);

      } catch (e) {
        alert("Failed to add a land");
      }

    }

  },

}
</script>

<style scoped>

</style>
