<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-12 col-md-6">

          <h4 class="text-center">Edit land {{ land.reg_number }}</h4>

          <div id="form-edit-land" class="alert alert-secondary">


            <div class="mb-3">
              <label class="form-label">Farmer</label>
              <input type="text" class="form-control" readonly :value="farmerFullName">
            </div>


            <div class="mb-3">
              <label class="form-label">Reg Number</label>
              <input type="text" class="form-control" v-model="land.reg_number">
            </div>

            <div class="mb-3">
              <label class="form-label">Continent</label>
              <input type="text" class="form-control" v-model="land.continent_name">
            </div>

            <div class="mb-3">
              <label class="form-label">Land size</label>
              <input type="text" class="form-control" v-model="land.land_size">
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Latitude</label>
                  <input type="text" class="form-control" v-model="land.lat">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Longitude</label>
                  <input type="text" class="form-control" v-model="land.lng">
                </div>
              </div>
            </div>

            <div class="text-center">

              <button class="btn btn-primary" @click="onUpdate()">Update</button>
              <button class="btn btn-secondary" @click="onCancel()">Cancel</button>

            </div>

          </div>

        </div>

      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../../components/TopNavigationBar";

export default {
  name: "EditLand",
  components: {TopNavigationBar},
  data() {
    return {

      land: {
        reg_number: "",
        continent_name: "",
        lat: "",
        lng: "",
        land_size: "",
        farmer: {
          first_name: "",
          last_name: ""
        }
      },

      landId: undefined,
      farmerId: undefined,


    };
  },

  computed: {

    farmerFullName() {
      return this.land.farmer.first_name + " " + this.land.farmer.last_name;
    }

  },


  async mounted() {

    try {

      this.landId = parseInt(this.$route.params.id);
      this.farmerId = parseInt(this.$route.params.farmerId);

      await this.$store.dispatch("lands_fetch", this.landId);

      this.land = this.$store.getters.getLand;

    } catch (e) {
      alert("Unable to fetch land details");
    }


  },


  methods: {

    onCancel() {
      this.$router.push("/farmers/edit/" + this.farmerId);
    },

    async onUpdate() {

      try {

        const params = {
          id: this.landId,
          reg_number: this.land.reg_number,
          continent_name: this.land.continent_name,
          land_size: this.land.land_size,
          lat: this.land.lat,
          lng: this.land.lng,
        };


        await this.$store.dispatch("lands_update", params);

        alert("Land details updated");

      } catch (e) {
        alert("Failed to update land details");
      }

    }

  },

}
</script>

<style scoped>

</style>
