<template>

  <div>
    <!-- list all farms for the farmer -->

    <div class="">
      <table class="table table-bordered">
        <thead>
        <tr class="table-secondary">
          <th>Reg.No</th>
          <th>Continent</th>
          <th>Size (Acre)</th>
          <th>Lat</th>
          <th>Lng</th>
          <th>Type</th>
          <th style="width: 120px"></th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="land in lands" :key="land.id">
          <td>
            <router-link :to="generateEditLandURL(land)">{{ land.reg_number }}</router-link>
          </td>
          <td>{{ land.continent_name }}</td>
          <td>{{ land.land_size }}</td>
          <td>{{ land.lat }}</td>
          <td>{{ land.lng }}</td>
          <th>{{ land.type }}</th>
          <td class="text-center">
            <router-link class="btn btn-secondary btn-sm" to="">Fert. Grants</router-link>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>

</template>

<script>
import CreateLand from "./CreateLand";

export default {
  name: "ManageLands",
  components: { CreateLand },
  props: {
    farmerId: Number
  },

  data() {
    return {}
  },

  computed: {

    lands() {
      return this.$store.getters.getLands;
    }

  },

  async mounted() {

    console.log( "farmer id: ", this.farmerId );

    try {

      await this.$store.dispatch( "lands_fetchByFarmer", this.farmerId );


    } catch ( e ) {
      alert( "Failed to get land details" );
    }

  },

  methods: {

    generateEditLandURL( land ) {
      return `/farmers/${ this.farmerId }/lands/edit/${ land.id }`;
    }

  },

}
</script>

<style scoped>

</style>
