<template>

  <div>

    <TopNavigationBar/>


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">

          <div class="alert alert-primary">

            <div class="mb-3">
              <h3 class="fw-bold text-center">Add a new farmer</h3>
              <hr>
            </div>

            <div id="form-add-user">

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="text-first-name">First name</label>
                    <input type="text" id="text-first-name" class="form-control" v-model="farmerToAdd.first_name">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="text-last-name">Last name</label>
                    <input type="text" id="text-last-name" class="form-control" v-model="farmerToAdd.last_name">
                  </div>
                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="text-nic">NIC</label>
                    <input type="text" id="text-nic" class="form-control" v-model="farmerToAdd.nic">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="text-phone">Phone</label>
                    <input type="text" id="text-phone" class="form-control" v-model="farmerToAdd.contact_number">
                  </div>
                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">GS Division</label>
                    <input type="text" class="form-control" v-model.trim="farmerToAdd.gs_division">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label for="text-address">Address</label>
                    <textarea id="text-address" class="form-control" rows="4" v-model="farmerToAdd.address"></textarea>
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col text-end">

                  <button type="button" class="btn btn-primary" @click="onSave()" :disabled="!formValidated">Save</button>
                  <router-link to="/farmers" class="btn btn-secondary">Cancel</router-link>

                </div>
              </div>

            </div><!-- form-add-user -->

          </div>

        </div>
      </div>
    </div><!-- container -->

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";
import DateField from "../../components/fields/DateField";
import moment from "moment";

const _ = require( "lodash" );

export default {
  name: "CreateFarmer",
  components: { DateField, TopNavigationBar },

  data() {
    return {

      farmerToAdd: {
        first_name: "",
        last_name: "",
        nic: "",
        contact_number: "",
        address: "",
        gs_division: "",
      },

      formErrorMessages: [],

      date: moment().format( "YYYY-MM-DD" )

    }
  },

  computed: {

    formValidated() {


      if ( _.isEmpty( this.farmerToAdd.first_name ) ) {
        this.formErrorMessages.push( "First name is missing" );
        return false;
      }
      if ( _.isEmpty( this.farmerToAdd.last_name ) ) return false;

      if ( this.farmerToAdd.contact_number.length !== 10 ) return false;

      return true;

    }

  },

  mounted() {

  },

  methods: {

    async onSave() {

      const params = {
        first_name: this.farmerToAdd.first_name,
        last_name: this.farmerToAdd.last_name,
        nic: this.farmerToAdd.nic,
        contact_number: this.farmerToAdd.contact_number,
        address: this.farmerToAdd.address,
      };

      try {

        await this.$store.dispatch( "farmers_create", params );

        await this.$router.push( "/farmers" );

      } catch ( e ) {
        console.log( e );
        alert( "Unable to create new farmer" );
      }


    }

  }

}
</script>

<style scoped>

</style>
