<template>

  <div>

    <TopNavigationBar/>


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-primary">

            <h4 class="text-center">Edit {{ farmer.first_name }} {{ farmer.last_name }}</h4>
            <hr>

            <div id="form-add-user">

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label for="text-first-name">First name</label>
                    <input type="text" id="text-first-name" class="form-control" v-model="farmer.first_name">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="text-last-name">Last name</label>
                    <input type="text" id="text-last-name" class="form-control" v-model="farmer.last_name">
                  </div>
                </div>
              </div><!-- row -->

              <div class="row g-3">
                <div class="col">
                  <div class="mb-3">
                    <label for="text-nic">NIC</label>
                    <input type="text" id="text-nic" class="form-control" v-model="farmer.nic">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="text-phone">Phone</label>
                    <input type="text" id="text-phone" class="form-control" v-model="farmer.contact_number">
                  </div>
                </div>
              </div><!-- row -->

              <div class="row g-3">
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">GS Division</label>
                    <input type="text" class="form-control" v-model.trim="farmer.gs_division">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label for="text-address">Address</label>
                    <textarea id="text-address" class="form-control" rows="4" v-model="farmer.address"></textarea>
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col text-end">

                  <button type="button" class="btn btn-primary" @click="onUpdate()">Update</button>
                  <router-link to="/farmers" class="btn btn-secondary">Cancel</router-link>

                </div>
              </div>


            </div><!-- form-add-user -->

          </div>
        </div><!-- col -->

        <div class="col-md-6">
          <!-- add new farm -->
          <div class="alert alert-secondary">
            <CreateLand :farmer-id="farmerId"/>
          </div>
        </div>

      </div><!-- row -->


      <div class="row">
        <div class="col">

          <h4 class="text-center">Farmer's lands</h4>
          <hr>

          <ManageLands v-if="farmerId" :farmer-id="farmerId"/>
        </div>
      </div>

    </div><!-- container -->

  </div>

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";
import ManageLands from "./lands/ManageLands";
import CreateLand from "./lands/CreateLand";

export default {
  name: "EditFarmer",
  components: {CreateLand, ManageLands, TopNavigationBar},

  data() {
    return {

      farmer: {},
      farmerId: undefined,

    };
  },

  computed: {},

  async mounted() {

    try {
      this.farmerId = parseInt(this.$route.params.id);

      await this.$store.dispatch("farmers_fetch", this.farmerId);
      this.farmer = this.$store.getters.getFarmer;

    } catch (e) {
      console.log(e);
    }

  },

  methods: {

    async onUpdate() {

      const params = {
        id: this.farmer.id,
        first_name: this.farmer.first_name,
        last_name: this.farmer.last_name,
        nic: this.farmer.nic,
        contact_number: this.farmer.contact_number,
        address: this.farmer.address,
      };

      try {

        await this.$store.dispatch("farmers_update", params);

        await this.$router.push("/farmers");

      } catch (e) {
        console.log(e);
        alert("Unable to create new farmer");
      }


    }

  },

}
</script>

<style scoped>

</style>
