<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col">

          <div class="mb-3">
            <h3 class="text-center fw-bold text-decoration-underline">Manage farmers</h3>
            <router-link to="/farmers/add" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Create new farmer</router-link>
          </div>

          <table class="table table-bordered table-striped">
            <thead>
            <tr class="table-secondary">
              <th>Full name</th>
              <th>NIC</th>
              <th>Contact Number</th>
              <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="farmer in farmers" :key="farmer.id">
              <td>
                <router-link :to="'/farmers/edit/'+ farmer.id">{{ farmer.first_name }} {{ farmer.last_name }}</router-link>
              </td>
              <td>{{ farmer.nic }}</td>
              <td>{{ farmer.contact_number }}</td>
              <td>{{ farmer.address }}</td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";

export default {
  name: "ManageFarmers",
  components: {TopNavigationBar},

  data() {
    return {

      farmers: [],

    };
  },

  computed: {},

  async mounted() {

    try {

      await this.$store.dispatch("farmers_fetchAll");

      this.farmers = this.$store.getters.getFarmers;

    } catch (e) {
      console.log(e);
    }

  },

  methods: {},


}
</script>

<style scoped>

</style>
