<template>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <router-link to="/" class="navbar-brand">
        <img src="../assets/images/navbar-icon.png" alt="" height="24px">
      </router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- left side -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link to="/" class="nav-link">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/about" class="nav-link">About</router-link>
          </li>
        </ul>

        <!-- right side -->
        <div class="d-flex align-items-center">
          <span v-if="loginState" class="me-2">
            <span class="navbar-text">Welcome {{ loggedInUser.full_name }}</span>
          </span>
          <router-link to="/login" class="btn btn-success btn-sm me-2" v-if="!loginState">Login</router-link>

          <router-link to="/users" class="btn btn-warning btn-sm me-2" v-if="loginState && userType === 'ADMIN'"><i class="bi bi-people-fill"></i></router-link>

          <button class="btn btn-danger btn-sm" @click="logout" v-if="loginState">Logout</button>
        </div>
      </div>
    </div>
  </nav>

</template>

<script>
export default {
  name: "TopNavigationBar",

  computed: {

    loginState: function () {
      return this.$store.getters.getLoginStatus
    },

    loggedInUser: function () {
      return this.$store.getters.getLoggedInUser
    },

    userType: function () {
      return this.$store.getters.getUserType
    }

  },

  methods: {

    async logout() {

      try {
        await this.$store.dispatch("auth_logout");
        await this.$router.push("/login");

      } catch (e) {
        console.log(e);
        alert("Failed to logout");
      }

    },

  },

}
</script>

<style scoped>

.bg-dark {
  background-color: #283542 !important;
}

</style>
